<ion-view view-title="Activité">
  <ion-nav-buttons side="right">
  </ion-nav-buttons>
<ion-content ng-controller="ActiviteController">

           <!-- <div class="item">
                Faites découvrir Occazstreet a vos amis !
            </div>-->
            <div class="list card">
                <div class="item item-text-wrap">
                    <i class="icon ion-ios-calendar-outline"></i>&nbsp;&nbsp;<span style="font-weight: bold">Date inscription: {{activite.dateInscription}}</span>
                </div>
                <div class="item item-text-wrap">
                    <i class="icon ion-ios-clock-outline"></i>&nbsp;&nbsp;<span style="font-weight: bold">Dernière connexion: {{activite.dateDerniereConnexion}}</span>
                </div>
                <div class="item item-text-wrap">
                     <i class="icon ion-bag"></i>&nbsp;&nbsp;<span style="font-weight: bold">Nombre de produits en ligne: {{activite.nombreArticlePublie}}</span>
                </div>
                <div class="item item-text-wrap">
                    <i class="icon ion-ios-cart-outline"></i>&nbsp;&nbsp;<span style="font-weight: bold">Nombre de produits vendu: {{activite.nombreArticleVendu}}</span>
                </div>

            </div>
    </ion-content>
</ion-view>
