<ion-view view-title="Aide">
  <ion-nav-buttons side="right">
  </ion-nav-buttons>
  <ion-content  >
      <div class="card card-margin">
          <div class="item item-divider">
              Conditions légales
          </div>
          <a class="item"  ui-sref="app.conditionutilisation" ng-controller="CguController">
             Conditions d'utilisation
          </a>
          <a class="item" ui-sref="app.politiqueconfidentialite" ng-controller="PolitiqueConfidentialiteController">
             Politique de confidentialité
          </a>
          <a class="item" ui-sref="app.conseilsecurite" ng-controller="ConseilSecuriteController">
            Conseil de sécurité
          </a>
      </div>
      <div class="card card-margin">
          <div class="item item-divider">
                Réseaux sociaux
          </div>
          <a class="item item item-text-wrap" href="#" onclick="window.open(facebookPage, '_system', 'location=no'); return false;" >
              "J'aime" sur Facebook!.
          </a>
          <a class="item" href="#" onclick="window.open('https://twitter.com/occazstreet', '_blank', 'location=no'); return false;">
              Occazstreet sur Twitter.
          </a>
      </div>
      <div class="card card-margin">
          <div class="item item-divider">
              Version
          </div>
         <!-- <a class="item item item-text-wrap" ui-sref="app.aide.conditionlegale">
              FAQ
          </a>-->
          <a class="item item item-text-wrap">
              Version de l'application <span class="text-left">{{version}}</span>
          </a>
      </div>

  </ion-content>
</ion-view>
