<ion-view view-title="Occazstreet" ng-controller="FiltreController">
    <ion-nav-buttons side="right">
           <!-- <md-menu md-offset="0 -1" ng-show="articles.length!==0">
                <md-button style="margin-top: -10px" class="button button-icon button-clear ion-android-more-vertical" ng-click="$mdOpenMenu()">
                </md-button>
                <md-menu-content width="2">
                    <md-menu-item >
                        <md-button ng-click="reverse=false;order('prix', false)"> <span md-menu-align-target>Trier par prix </span></md-button>
                    </md-menu-item>
                    <md-menu-item >
                        <md-button ng-click="reverse=false;order('dateAjout', false)"> <span md-menu-align-target>Trier par date</span></md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>-->
    </ion-nav-buttons>
    <!--<div  ng-show="articles.length!=0" class="bar bar-subheader has-subheader" style="margin-bottom: 70px">
        <span class="title italic" style="font-size: 12px"><i>Chargement des produits à 1 kilomètre de vous </i></span>
    </div>-->

    <div ng-show="articles.length==0">


        <div flex layout="row" layout-align="center center" style="margin-top: 50%">
            <div>
                <div flex layout="column" layout-align="center center" style="margin-bottom: -50px;">
                    <i  style="font-size: 150px;;color:#98a2a2" class="icon ion-ios-search-strong md-card-image"> </i>
                </div>

                <div flex layout="column" layout-align="center center" style="margin-top: 50%">
                    <span style="font-size:20px;font-weight: bold;color:#98a2a2">
                        Aucun produit trouvé.
                    </span>
                </div>

                <!--<div flex layout="column" layout-align="center center">
                    <br/>
                    <a ui-sref="app.articles">
                        <md-button  class="md-warn md-raised md-hue-2 no-text-transform">
                            Reinitialiser filtres
                        </md-button>
                    </a>
                </div>-->
            </div>
        </div>


    </div>
    <ion-content  menu-close>
        <!--<ion-refresher  on-refresh="doRefresh()">
        </ion-refresher>-->
        <div ng-show="motclef">
            <md-chips >
                <md-chip>{{motclef}}</md-chip>
            </md-chips>
        </div>
        <ion-list>
          <div class="item card-item item-art" ng-repeat="article in articles"   ng-controller="FiltreController">
            <div on-tap="saveStat({{article.idArticle}})" ui-sref="app.articledetails({article:'{{article.idArticle}}'})" class="card card-margin">
              <div ng-show="article.etat=='Vendu'" class="ribbon"><span>Vendu</span></div>
              <div class="item item-avatar  item-text-wrap ">
                <span ng-show="article.images.length >0" class="avatar" style="background-image: url('{{url}}{{cheminImage}}{{article.images[0].cheminImage}}');"></span>
                <span ng-show="article.images.length ==0" class="avatar " style="background-image: url('img/defaultImage.png');"></span>
                <div class="row">
                  <div style="margin-left: -6%;white-space: nowrap;" class="col col-60">
                    <strong >{{article.titre.substring(0,10)}}...</strong>
                  </div>
                  <div class="col col-40">
                    <span class="price assertive">{{article.prix}} {{article.devise.symbole}}</span><br>
                  </div>
                </div>
                <div class="row" style="margin-top: -10%">
                  {{article.categorie.libelle}}
                </div>
                <div class="row" style="margin-top: -10%;color: grey;margin-bottom: 0%">
                  {{article.nomVille}} , ajouté  &nbsp; <time am-time-ago="article.dateAjout"></time>
                </div>
              </div>
            </div>
          </div>
        </ion-list>
    </ion-content>
   <!--<a ui-sref="app.addarticle">
        <md-button class="md-warn md-raised md-hue-2 md-fab md-fab-bottom-right ion-plus-round">
        </md-button>
    </a>-->
</ion-view>
