<ion-view view-title="Occazstreet">
  <ion-nav-buttons side="right">
    <button ui-sref="app.filtres" class="button button-icon button-clear ion-android-search">
    </button>
    <md-menu md-offset="0 -1">
      <md-button style="margin-top: -0.40em" class="button button-icon button-clear ion-android-more-vertical" ng-click="$mdOpenMenu()">
      </md-button>
      <md-menu-content width="2">
        <md-menu-item >
          <md-button ng-click="reverse=false;order('prix', false)"> <span md-menu-align-target>Trier par prix croissant</span></md-button>
        </md-menu-item>
        <md-menu-item >
          <md-button ng-click="reverse=true;order('dateAjout', false)"> <span md-menu-align-target>Trier par date</span></md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </ion-nav-buttons>
  <!--<div  ng-show="articles.length!=0" class="bar bar-subheader has-subheader" style="margin-bottom: 70px">
      <span class="title italic" style="font-size: 12px"><i>Chargement des produits à 1 kilomètre de vous </i></span>
  </div>-->


  <ion-content has-bouncing="true">

    <div ng-if="articles.length==0 &&( offLine || serverDown)">

      <div class="row row-center centered" >
        <div class="col text-center">
          <i  style="font-size: 4.688em;color:#98a2a2" class="icon ion-sad-outline"> </i><br/>
            <span style="font-size:1.250em;font-weight: bold;color:#98a2a2">
                Erreur lors du chargement du mur
           </span>
          <button style="margin-top: 20%;" ng-click="raffraichir()" ng-disabled="isDisabled" class="button button-outline button-full button-assertive btn-ok">{{buttonRaffraichirText}}</button>
        </div>
      </div>
    </div>
    <div ng-if="articles.length==0 && !offLine && !serverDown">

      <div class="row row-center centered" >
        <div class="col text-center">
          <i  style="font-size: 4.688em;color:#98a2a2" class="icon ion-arrow-up-a"> </i><br/>
            <span style="font-size:1.250em;font-weight: bold;color:#98a2a2">
                Soyez le premier à créer une annonce.
           </span>
          <button style="margin-top: 20%;" ng-click="ajouterAnnonce()" ng-disabled="isDisabled" class="button button-outline button-full button-assertive btn-ok">Ajouter une annonce</button>
        </div>
      </div>
    </div>
    <ion-refresher
      pulling-text="Lacher pour raffraichir..."
      on-refresh="doRefresh()">
    </ion-refresher>
    <div  ng-if="articles.length > 0 " class="item card-item item-art animate-fade-slide-in" ng-repeat="article in articles track by $index"    ng-controller="ArticlesController">
      <div on-tap="saveStat({{article.idArticle}})" ui-sref="app.articledetails({article:'{{article.idArticle}}'})" class="card card-margin">
        <div ng-if="article.etat=='Vendu'" class="ribbon"><span>Vendu</span></div>
        <div class="item item-avatar  item-text-wrap ">
          <span ng-if="article.images.length >0" class="avatar" style="background-image: url('{{url}}{{cheminImage}}{{article.images[0].cheminImage}}');"></span>
          <span ng-if="article.images.length ==0" class="avatar " style="background-image: url('img/defaultImage.png');"></span>
          <div class="row">
            <div style="margin-left: -6%;white-space: nowrap;" class="col col-60">
              <strong >{{article.titre.substring(0,10)}}...</strong>
            </div>
            <div class="col col-40">
              <span class="price assertive">{{article.prix}} {{article.devise.symbole}}</span><br>
            </div>
          </div>
          <div class="row" style="margin-top: -10%">
            {{article.categorie.libelle}}
          </div>
          <div class="row" style="margin-top: -10%;color: grey;margin-bottom: 0%">
              {{article.nomVille}}</span><span ng-if="!article.dateModification">, ajouté  &nbsp; <time am-time-ago="article.dateAjout"></time></span><span ng-if="article.dateModification">, modifié  &nbsp; <time am-time-ago="article.dateModification"></time></span>
          </div>
        </div>
      </div>
    </div>
    <ion-infinite-scroll on-infinite="loadMoreArticles()"  ng-if="moreDataCanBeLoaded()" distance="5%"></ion-infinite-scroll>
  </ion-content>

  <a ui-sref="app.addarticle">
    <md-button class="md-warn md-raised md-hue-2 md-fab md-fab-bottom-right ion-plus-round">
    </md-button>
  </a>
</ion-view>
