  <ion-view view-title="Conseils de sécurité">
  <ion-nav-buttons side="right">
  </ion-nav-buttons>
    <ion-content>
      <p style="box-sizing: inherit; margin: 2rem 0px; padding: 0px; border: 0px; font-stretch: inherit; font-size: 1.3rem; line-height: 1.6em; font-family: 'Avenir Next Cyr W00 Regular'; vertical-align: baseline; text-align: justify; color: rgb(119, 119, 119);"><span style="box-sizing: inherit; margin: 0px 3px 0px 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: 700; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline;">La sécurité avant tout !</span></p>
      <p style="box-sizing: inherit; margin: 2rem 0px; padding: 0px; border: 0px; font-stretch: inherit; font-size: 1.3rem; line-height: 1.6em; font-family: 'Avenir Next Cyr W00 Regular'; vertical-align: baseline; text-align: justify; color: rgb(119, 119, 119);">Avant de réaliser toute transaction, nous vous recommandons de lire nos conseils pour eviter toute mauvaise expérience sur l'appli</p>
      <p style="box-sizing: inherit; margin: 2rem 0px; padding: 0px; border: 0px; font-stretch: inherit; font-size: 1.3rem; line-height: 1.6em; font-family: 'Avenir Next Cyr W00 Regular'; vertical-align: baseline; text-align: justify; color: rgb(119, 119, 119);">
        Rien de tel qu'une bonne poignée de main pour conclure un accord, un deal ! OccazStreet recommande de toujours favoriser les échanges en main propres. Vérifiez l'état du produits, procédez à l'échange et évitez ainsi toute arnaque!
      </p>
      <p style="box-sizing: inherit; margin: 2rem 0px; padding: 0px; border: 0px; font-stretch: inherit; font-size: 1.3rem; line-height: 1.6em; font-family: 'Avenir Next Cyr W00 Regular'; vertical-align: baseline; text-align: justify; color: rgb(119, 119, 119);">
        Assurez-vous de rencontrer le vendeur ou l'acheteur dans un lieu public frequenté, de préference pendant la journée
      </p>
      <p style="box-sizing: inherit; margin: 2rem 0px; padding: 0px; border: 0px; font-stretch: inherit; font-size: 1.3rem; line-height: 1.6em; font-family: 'Avenir Next Cyr W00 Regular'; vertical-align: baseline; text-align: justify; color: rgb(119, 119, 119);">
        Malgré nos recommandations, si vous decidez de traiter à distance, assurez-vous d'avoir toutes les garanties nécessaires pour une transaction 100% sûre.
      </p>
      <p style="box-sizing: inherit; margin: 2rem 0px; padding: 0px; border: 0px; font-stretch: inherit; font-size: 1.3rem; line-height: 1.6em; font-family: 'Avenir Next Cyr W00 Regular'; vertical-align: baseline; text-align: justify; color: rgb(119, 119, 119);">
        Méfiez-vous des annonces trop alléchantes et des contrefaçons
      </p>
      <p style="box-sizing: inherit; margin: 2rem 0px; padding: 0px; border: 0px; font-stretch: inherit; font-size: 1.3rem; line-height: 1.6em; font-family: 'Avenir Next Cyr W00 Regular'; vertical-align: baseline; text-align: justify; color: rgb(119, 119, 119);">
        Prenez gar aux annonces mal redigées ou ne comportant pas de photos personnelles
      </p>
      <p style="box-sizing: inherit; margin: 2rem 0px; padding: 0px; border: 0px; font-stretch: inherit; font-size: 1.3rem; line-height: 1.6em; font-family: 'Avenir Next Cyr W00 Regular'; vertical-align: baseline; text-align: justify; color: rgb(119, 119, 119);">
      N'envoyez jamais de l'argent ou de produits à l'étranger et éviter les paiements par mandat cash, Western Union, etc
      </p>
    </ion-content>
</ion-view>
