<ion-view view-title="Mot de passe oublié">
    s<ion-nav-buttons side="right">
    </ion-nav-buttons>
    <ion-content  ng-controller="UtilisateurController"   class=" animate-fade-slide-in">
    <md-content layout-padding>
      <md-card>
        <md-card-content>
          <p class="center-align">Entrez l'adresse email associée à votre compte et nous vous enverrons votre nouveau mot de passe.</p>
          <form name="forgotPasswordForm" ng-submit="reInitPassword(email)">
            <md-input-container class="md-block">
              <label>Votre adresse email</label>
              <input  type="email" required name="email" ng-model="email" >

            </md-input-container>
            <md-button type="submit" style="background-color: #8F0808" class="md-warn md-raised center  button-full">Envoyer</md-button>
          </form>
        </md-card-content>
      </md-card>
    </md-content>
  </ion-content>

    <!--<a ui-sref="app.addarticle">
        <md-button class="md-warn md-raised md-hue-2 md-fab md-fab-bottom-right ion-checkmark">
        </md-button>
    </a>-->
</ion-view>
