<ion-view view-title="Mot de passe oublié">
    s<ion-nav-buttons side="right">
    </ion-nav-buttons>
    <ion-content  ng-controller="UtilisateurController"   class=" animate-fade-slide-in">
    <md-content layout-padding>
      <md-card>
        <md-card-content>
          <form name="forgotPasswordForm" ng-submit="reInitPassword(email)">
            <md-input-container class="md-block">
              <label>Votre adresse email</label>
              <input  type="email" required name="email" ng-model="email" >

            </md-input-container>
            <md-button type="submit"  style="margin-left: 30%; margin-right: 20%" class="md-warn md-raised center ">Reinitialiser</md-button>
          </form>
        </md-card-content>
      </md-card>
    </md-content>
  </ion-content>

    <!--<a ui-sref="app.addarticle">
        <md-button class="md-warn md-raised md-hue-2 md-fab md-fab-bottom-right ion-checkmark">
        </md-button>
    </a>-->
</ion-view>
