<ion-view view-title="Invitez vos ami(e)s">
  <ion-nav-buttons side="right">
    </ion-nav-buttons>
  <ion-content>
      <div class="item">
          Faites découvrir Occazstreet a vos amis !
      </div>
      <div class="list card card-margin">
          <a class="item item-icon-left" ng-click="shareFacebook()">
              <i class="icon ion-social-facebook positive"></i>Inviter par Facebook
          </a>
          <a class="item item-icon-left" ng-click="shareTwitter()">
              <i class="icon ion-social-twitter calm"></i>Inviter par Twitter
          </a>
          <a class="item item-icon-left" ng-click="shareSMS()">
              <i class="icon ion-android-textsms "></i>Inviter par SMS
          </a>
          <a class="item item-icon-left" ng-click="shareMail()">
              <i class="icon ion-android-mail"></i>Inviter par Mail
          </a>
          <a class="item item-icon-left" ng-click="shareWhatsapp()" data-text="Take a look at this awesome website:" data-href="">
              <i class="icon ion-social-whatsapp balanced"></i>Inviter par Whatsapp
          </a>

      </div>
    </ion-content>
</ion-view>
