<ion-view view-title="Occazstreet" >
    <ion-content ng-class="{expanded:$scope.isExpanded}" class=" animate-fade-slide-in"  ng-controller="UtilisateurController">
            <md-content class="md-padding" >
                <md-tabs  md-dynamic-height md-border-bottom md-stretch-tabs="always">
                    <md-tab  label="Se connecter" >
                        <md-content >
                          <section layout="row" layout-sm="column" layout-align="center center" style="margin-top: 4%;margin-bottom: 7%;">
                            <md-button class="md-button chip-facebook button " data-tap-disabled="true" ng-click="loginWithFacebook()">
                              FACEBOOK
                              <i class="icon ion-social-facebook"></i>
                            </md-button>
                          </section>
                         <!-- <section layout="row" layout-sm="column" layout-align="center center"style="margin-top: 5%;margin-bottom: 7%">
                            <md-button class="md-button chip-google button " data-tap-disabled="true" ng-click="loginWithGoogle()">
                              GOOGLE
                              <i class="icon ion-social-google"></i>
                            </md-button>
                          </section>-->
                        </md-content>
                        <md-divider></md-divider>
                           <section layout="row" layout-sm="column" layout-align="center center" style="margin-top: 4%;margin-bottom: 3%;">
                            <span style="font-weight: bold">OU</span>
                           </section>
                        <md-divider></md-divider>
                        <md-content id="login-tab-body">
                            <form name="loginForm" ng-submit="doLogin(credentials)">
                                <md-input-container class="md-block">
                                    <label>Email</label>
                                    <input  ng-model="credentials.email" required  name="email" type="email" style="margin-bottom: 0%"/>
                                    <div ng-messages="loginForm.email.$error" >
                                      <div ng-message="required">
                                        Veuillez saisir une adresse email valide
                                      </div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block" >
                                    <label>Mot de passe</label>
                                    <input  type="{{showpassword ? 'text' : 'password'}}" ng-model="credentials.motdepasse" name="password" required style="margin-bottom: 0%"/>
                                    <i style="margin-left: 95%" ng-show="credentials.motdepasse !=null" class="ion-eye" on-touch="showPassword()"></i>
                                  <div ng-messages="loginForm.password.$error" >
                                      <div ng-message="required">
                                        Veuillez saisir le mot de passe
                                      </div>
                                    </div>
                                </md-input-container>
                                <section layout="row" layout-sm="column" layout-align="center center">
                                    <button  class="button button-outline button-full button-assertive btn-ok">Se connecter</button>
                                </section>
                            </form>
                        </md-content>
                      <br/>
                      <a ui-sref="app.forgotPassword" style="margin-left:30%; text-decoration: none; color: black">Mot de passe oublié ?</a>

                        <!--<md-content>
                          <div style="margin-top:7%" layout="row" layout-align="center center">
                            <div class="social-login-text" flex-35>Où conncectez-vous avec:</div>
                            <div flex-65>
                              <div class="chip chip-facebook" data-tap-disabled="true" ng-click="loginWithFacebook()">
                                FACEBOOK
                                <i class="ion-social-facebook"></i>
                              </div>
                              <div class="chip chip-google" data-tap-disabled="true" ng-click="loginWithGoogle()">
                                GOOGLE
                                <i class="ion-social-google"></i>
                              </div>
                            </div>
                          </div>
                        </md-content>-->

                    </md-tab>
                    <md-tab label="S'inscrire" >
                      <md-content >
                        <section layout="row" layout-sm="column" layout-align="center center" style="margin-top: 4%;margin-bottom: 7%">
                          <md-button class="md-button chip-facebook button " data-tap-disabled="true" ng-click="loginWithFacebook()">
                            FACEBOOK
                            <i class="icon ion-social-facebook"></i>
                          </md-button>
                        </section>
                        <!--<section layout="row" layout-sm="column" layout-align="center center"style="margin-top: 5%;margin-bottom: 7%">
                          <md-button class="md-button chip-google button " data-tap-disabled="true" ng-click="loginWithGoogle()">
                            GOOGLE
                            <i class="icon ion-social-google"></i>
                          </md-button>
                        </section>-->
                      </md-content>
                      <md-divider></md-divider>
                      <section layout="row" layout-sm="column" layout-align="center center" style="margin-top: 4%;margin-bottom: 3%;">
                        <span style="font-weight: bold">OU</span>
                      </section>
                      <md-divider></md-divider>
                        <md-content layout-padding>
                            <form name="inscriptionForm" ng-submit="doInscription(utilisateur)">
                                <md-input-container class="md-block">
                                    <label>Nom</label>
                                    <input ng-model="utilisateur.nom"  name="nom"  required>
                                    <div class="hint" >Allez  dis-moi comment t'appeles-tu ?</div>
                                  <div ng-messages="inscriptionForm.nom.$error" >
                                    <div ng-message="required">
                                        Tu as forcement un nom :(
                                    </div>
                                  </div>

                                </md-input-container>
                                <md-input-container class="md-block" >
                                    <label>Prenom</label>
                                    <input ng-model="utilisateur.prenom"   name="prenom" >
                                    <div class="hint" >As-tu un prénom ?</div>

                                </md-input-container>

                                <md-input-container class="md-block">
                                    <label style="color: #a0a0a0;">Date de naissance</label>
                                     <input type="date" id="dateNaissance" class="md-block" name="dateDeNaissance"  ng-model="utilisateur.dateDeNaissance"
                                       required>
                                    <div class="hint">Es-tu autant agé(e) que moi ? </div>
                                </md-input-container>

                               <md-input-container class="md-block">
                                    <label>Email</label>
                                <input name="email" ng-model="utilisateur.email"
                                       required  ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" />
                                <div class="hint">Comment est-ce que je peux te joindre ?</div>
                                <div ng-messages="inscriptionForm.email.$error" >
                                  <div ng-message-exp="['required', 'pattern']">
                                    Le format de l'adresse email n'est pas correcte.
                                  </div>
                                </div>
                              </md-input-container>
                                <md-input-container class="md-block"  >
                                    <label>Mot de passe</label>
                                    <input ng-model="utilisateur.motdepasse" type="{{showpassword ? 'text' : 'password'}}" name="motdepasse" ui-show-password minlength="6" required>
                                    <i style="margin-left: 95%" ng-show="utilisateur.motdepasse !=null" class="ion-eye" on-touch="showPassword()"></i>
                                  <div ng-messages="inscriptionForm.motdepasse.$error" >
                                    <div ng-message="required">
                                     Un mot de passe est requis
                                    </div>
                                    <div ng-message="minlength">
                                      Votre mot de passe doit avoir au moins 6 caractères
                                    </div>
                                  </div>
                                </md-input-container>
                                <md-input-container >
                                    <md-radio-group ng-required="true" ng-model="sexe"  name="sexe" layout="row" >
                                        <md-radio-button value="1" class="md-warn md-raised md-hue-2" name="sexe" required>Homme</md-radio-button>
                                        <md-radio-button value="2" class="md-warn md-raised md-hue-2" name="sexe" required>Femme</md-radio-button>
                                    </md-radio-group>
                                    <div ng-messages="inscriptionForm.sexe.$error" >
                                      <div ng-message-exp="['required']">
                                        Tu n'es pas un cyborg :( le sexe est obligatoire
                                      </div>
                                    </div>
                                 </md-input-container>
                                <section layout="row" layout-sm="column" layout-align="center center" >
                                    <button class="button button-outline button-full button-assertive btn-ok" >S'inscrire</button>
                                </section>
                            </form>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </md-content>
    </ion-content>
</ion-view>
