<ion-view view-title="Profil d'utilisateur" cache-view="false" ng-controller="ProfileController">
    <ion-nav-buttons side="right">

    </ion-nav-buttons>
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('{{url}}{{cheminPhoto}}{{utilisateur.photo.cheminPhoto}}');">
            <div class="content" >
                <div class="avatar" style="background-image: url('{{url}}{{cheminPhoto}}{{utilisateur.photo.cheminPhoto}}');"></div>
                <h3><a class="light" style="color: #444444">{{utilisateur.prenom}} {{utilisateur.nom[0]}}</a></h3>
                <!--<h4 class="light">0 Avis</h4>-->
            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">
            <a href="#/app/activite/{{utilisateur.id}}" class="ink tab-item" style="margin-left: 1%">
                <i class="icon ion-arrow-graph-up-right"></i> Activité
            </a>
            <!--<a ui-sref="app.friends" class="tab-item">
                <i class="icon ion-android-people"></i> Amis
            </a>-->
            <!--<a ui-sref="app.gallery" class="tab-item">
                <i class="icon ion-heart"></i> Avis
            </a>-->
        </div>
        <div>
            <md-content class="md-padding">
                <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always">
                    <md-tab label="En cours">
                        <md-content ng-show="articleExist" class="md-padding">
                          <div   on-hold="editArticle({{article.idArticle}},{{createurAnnonce}})" ng-repeat="article in articles | orderBy: 'dateAjout'"  ng-controller="ArticlesController" class="item card-item" >
                            <div  ui-sref="app.articledetails({article:'{{article.idArticle}}'})">
                              <div ng-show="article.etat=='Vendu'" class="ribbon"><span>Vendu</span></div>
                              <div class="item item-avatar  item-text-wrap ">
                                <span ng-show="article.images.length >0" class="avatar" style="background-image: url('{{url}}{{cheminImage}}{{article.images[0].cheminImage}}');"></span>
                                <span ng-show="article.images.length ==0" class="avatar " style="background-image: url('img/defaultImage.png');"></span>
                                <div class="row">
                                  <div style="margin-left: -6%;white-space: nowrap;" class="col col-60">
                                    <strong >{{article.titre.substring(0,10)}}...</strong>
                                  </div>
                                  <div class="col col-40">
                                    <span class="price assertive">{{article.prix}} {{article.devise.symbole}}</span><br>
                                  </div>
                                </div>
                                <div class="row" style="margin-top: -10%">
                                  {{article.categorie.libelle}}
                                </div>
                                <div class="row" style="margin-top: -10%;color: grey;margin-bottom: 0%">
                                  {{article.nomVille}} , ajouté  &nbsp; <time am-time-ago="article.dateAjout"></time>
                                </div>
                              </div>
                            </div>
                            </div>
                        </md-content>
                        <md-content ng-show="!articleExist">
                            <div flex layout="row" layout-align="center center">
                                <div>
                                    <br/>
                                    <div flex layout="column" layout-align="center center">
                                        <i  style="font-size: 75px;;color:#98a2a2" class="icon ion-plus md-card-image"> </i>
                                    </div>
                                    <br/><br/>


                                    <div flex layout="column" layout-align="center center">
                                        <span style="font-size:20px;font-weight: bold;color:#98a2a2">
                                            Vous n'avez aucun produit en vente. Il est grand temps de commencer.
                                    </span>
                                    </div>
                                    <br/>

                                    <div flex layout="column" layout-align="center center">
                                        <br/>
                                        <a ui-sref="app.addarticle">
                                            <md-button  class="md-warn md-raised md-hue-2 no-text-transform">
                                                Publiez un produit
                                            </md-button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label="Vendus">
                        <md-content ng-show="articleVenduExist" class="md-padding">
                          <div  on-hold="editArticle({{article.idArticle}})" ng-repeat="article in articlesvendu"  ng-controller="ArticlesController" class="item card-item" >
                            <div  ui-sref="app.articledetails({article:'{{article.idArticle}}'})">
                              <div ng-show="article.etat=='Vendu'" class="ribbon"><span>Vendu</span></div>
                              <div class="item item-avatar  item-text-wrap ">
                                <span ng-show="article.images.length >0" class="avatar" style="background-image: url('{{url}}{{cheminImage}}{{article.images[0].cheminImage}}');"></span>
                                <span ng-show="article.images.length ==0" class="avatar " style="background-image: url('img/defaultImage.png');"></span>
                                <div class="row">
                                  <div style="margin-left: -6%;white-space: nowrap;" class="col col-60">
                                    <strong >{{article.titre.substring(0,10)}}...</strong>
                                  </div>
                                  <div class="col col-40">
                                    <span class="price assertive">{{article.prix}} {{article.devise.symbole}}</span><br>
                                  </div>
                                </div>
                                <div class="row" style="margin-top: -10%">
                                  {{article.categorie.libelle}}
                                </div>
                                <div class="row" style="margin-top: -10%;color: grey;margin-bottom: 0%">
                                  {{article.nomVille}} , ajouté  &nbsp; <time am-time-ago="article.dateAjout"></time>
                                </div>
                              </div>
                            </div>
                          </div>
                        </md-content>
                        <md-content ng-show="!articleVenduExist">
                            <div flex layout="row" layout-align="center center">
                                <div>
                                    <br/>
                                    <div flex layout="column" layout-align="center center">
                                        <i  style="font-size: 75px;color:#98a2a2" class=" icon ion-plus md-card-image"> </i>
                                    </div>

                                    <div flex layout="column" layout-align="center center">
                                        <span style="font-size:20px;font-weight: bold;color:#98a2a2">
                                            Vous n'avez rien vendu pour l'instant. Commencer à vendre dès maintenant !
                                    </span>
                                    </div>
                                    <br/>
                                    <div flex layout="column" layout-align="center center">

                                        <a ui-sref="app.addarticle">
                                            <md-button  class="md-warn md-raised md-hue-2 no-text-transform">
                                                Publiez un produit
                                            </md-button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label="Favoris">
                        <md-content ng-show="articleFavorisExist" class="md-padding">
                          <div   ng-repeat="article in articlesFavoris"  ng-controller="ArticlesController" class="item card-item" >
                          <div  ui-sref="app.articledetails({article:'{{article.idArticle}}'})">
                            <div ng-show="article.etat=='Vendu'" class="ribbon"><span>Vendu</span></div>
                            <div class="item item-avatar  item-text-wrap ">
                              <span ng-show="article.images.length >0" class="avatar" style="background-image: url('{{url}}{{cheminImage}}{{article.images[0].cheminImage}}');"></span>
                              <span ng-show="article.images.length ==0" class="avatar " style="background-image: url('img/defaultImage.png');"></span>
                              <div class="row">
                                <div style="margin-left: -6%;white-space: nowrap;" class="col col-60">
                                  <strong >{{article.titre.substring(0,10)}}...</strong>
                                </div>
                                <div class="col col-40">
                                  <span class="price assertive">{{article.prix}} {{article.devise.symbole}}</span><br>
                                </div>
                              </div>
                              <div class="row" style="margin-top: -10%">
                                {{article.categorie.libelle}}
                              </div>
                              <div class="row" style="margin-top: -10%;color: grey;margin-bottom: 0%">
                                {{article.nomVille}} , ajouté  &nbsp; <time am-time-ago="article.dateAjout"></time>
                              </div>
                            </div>
                            </div>
                          </div>
                        </md-content>
                        <md-content ng-show="!articleFavorisExist">
                            <div flex layout="row" layout-align="center center">
                                <div>
                                    <div flex layout="column" layout-align="center center">
                                        <i  style="font-size: 75px;color:#98a2a2" class=" icon ion-android-bookmark md-card-image"> </i>
                                    </div>
                                    <br/>
                                    <div flex layout="column" layout-align="center center">
                                        <br/>
                                        <span style="font-size:20px;font-weight: bold;color:#98a2a2">
                                            Vous n'avez rien trouvé à votre goût ? <br/>Pas possible !! allons, cherchez un peu plus !
                                    </span>
                                    </div>
                                    <br/>

                                    <div flex layout="column" layout-align="center center">
                                        <br/>
                                        <a  ui-sref="app.articles">
                                            <md-button  class="md-warn md-raised md-hue-2 no-text-transform button-large">
                                                Commencez maintenant !
                                            </md-button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </md-content>
                    </md-tab>

                </md-tabs>
            </md-content>
        </div>
    </ion-content>


    <a ng-show="showEdit" ui-sref="app.editProfile({utilisateur:'{{infoUserLogged.id}}'})">

        <md-button class="md-warn md-raised md-hue-2 md-fab md-fab-bottom-right ion-edit">
        </md-button>
    </a>
</ion-view>
