<ion-view view-title="Signaler un abus">
  <ion-nav-buttons side="right">
  </ion-nav-buttons>
  <ion-content scroll="false">
    <div layout="column"  id="popupContainer">
      <form name="signalerForm" ng-submit="signaler(signal,$event)">
        <div class="row" >
          <md-input-container  flex required>
            <md-select  ng-model="signal.motif" required>
              <md-option ng-repeat="motif in motifs" value="{{motif.libelle}}">
                {{motif.libelle}}
              </md-option>
            </md-select>
            <div  ng-messages="signalerForm.motif.$error" ng-if="signalerForm.$dirty">
              <div ng-message="required">Veuillez choisir le motif de votre signalement</div>
            </div>
          </md-input-container>
        </div>
        <div class="row" style="margin-top: -10%" >
          <md-input-container flex>
            <label>Votre nom</label>
            <input ng-model="signal.nom" type="text" required>
            <div ng-messages="signalerForm.nom.$error">
              <div ng-message="required">Veuillez renseigner votre nom.</div>
            </div>
          </md-input-container>
        </div>
        <div class="row" style="margin-top: -15%">
          <md-input-container flex>
            <label>Votre adresse email</label>
            <input ng-model="signal.email" type="email" required>
            <div ng-messages="signalerForm.nom.$error">
              <div ng-message="required">Veuillez renseigner votre adresse mail.</div>
              <div ng-message="email">Veuillez renseigner une adresse mail valide.</div>
            </div>
          </md-input-container>
        </div>
        <div class="row" style="margin-top: -15%">
          <md-input-container flex>
            <label>Votre message</label>
            <textarea ng-model="signal.message" required columns="1" md-maxlength="300"></textarea>
            <div ng-messages="signalerForm.nom.$error">
              <div ng-message="required">Veuillez saisir un message.</div>
            </div>
          </md-input-container>
        </div>
        <div layout="column" layout-align="center center" style="height: 100px;">
          <md-button class="md-warn md-raised md-hue-2" type="submit">Signaler</md-button>
        </div>
      </form>
    </div>
    <!--<div class="row" style="margin-top: 40%" style="white-space: nowrap;">
      <a ng-click="showInfos($event)">infos </a> &nbsp; sur les destinataires, le responsable de traitement, la finalité de la collecte.
    </div>
    <div class="row" >
      <a ng-click="showVosDroits($event)">Vos droits</a> &nbsp;d'accès de rectification et d'opposition sur vos données collectées.
    </div>-->
    </ion-content>
</ion-view>
