<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.pisixlabs.occazstreet" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Occazstreet</name>
  <description>
        An Pisix Labs Project.
    </description>
  <author email="you@occazstreet.com" href="http://www.occazstreet.com/">
      Occazstreet
  </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="Camera">
    <param name="android-package" value="org.apache.cordova.camera.CameraLauncher" />
  </feature>
  <feature name="File">
    <param name="android-package" value="org.apache.cordova.FileUtils" />
  </feature>
  <feature name="FileTransfer">
    <param name="android-package" value="org.apache.cordova.FileTransfer" />
  </feature>
</widget>
