/* Empty. Add your own CSS if you like */
.item .list
{
    background-color: #323A43;
}
/* General
==================================*/
h1 {
    color: #fff;
    text-shadow: 0 1px 0px #000;
    font-size: 42px;
}


/* Utilities
==================================*/
.title-bordered {
    border-top: solid 2px #bbb;
    padding-top: 30px;
}

p {
    color: #555;
    margin: 0 0 25px;
}

.scroll {
    height: 100%;
}


/* Menu
==================================*/
.menu .bar.bar-header.expanded {
    transition: all .5s ease-in-out;
}

.menu-open .bar.bar-header.expanded {
    background-color: #222;
}

.bar-header {
  height: 55px; /*just an example*/
  padding-top: 5px !important;
  padding-bottom: 5px;

}
.bar-header .title, .right-buttons{
  font-size:17px;
  padding-top: 5px !important;

}

.menu h2 {
    bottom: 0;
    font-size: 18px;
    left: 16px;
    position: absolute;
}

.menu .avatar {
    height: 88px;
    width: 88px;
}

.menu.menu-left * {
    font-weight: bold;
}

.menu-open .ion-navicon {
    transform: rotate(-360deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
    content: "\f2ca";
}


/* Login
==================================*/
.app-icon {
    background-color: #fff;
    background: url('../img/crown.jpg') center;
    background-size: cover;
    border-radius: 50%;
    height: 125px;
    margin: 0 auto;
    width: 125px;
}

.social-login {
    position: fixed;
    bottom: 0;
}

/*Article
==================================*/

.noArticle
{
    background: url(../img/login.jpg) center; background-size: cover;

}

.italic{
    font-style : italic;
}

.price
{
   font-size: 85% !important;
   font-weight: bold;
  color: #B71C1C !important;
  display: flex !important;
  position: absolute !important;
  top: 6px !important;
  right: 9px !important;
}

.image{
    width: 100%
}
.article-body{
    background-color: #E8E8E8 ;
}
.article{
    border: solid 0.2px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 16px;
    background-color:#F8F8F8;
}
.titre-article{
    font-weight: bold;
    color: #B71C1C;
}
.desc-article{
  margin-bottom: 14px !important;

}


/* Center */
.middle-text-page {
    height: 200px;
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
}

.ribbon {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 1;
  overflow: visible;
  width: 75px;
  height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#F70505 0%, #8F0808 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 16px;
  right: -26px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #8F0808;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F0808;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #8F0808;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F0808;
}



/*Status Bar*/
.platform-ios.has-translucent-status-bar .app-header-bar{
    padding-top:25px;
}

.platform-android.has-translucent-status-bar .app-header-bar{
    margin-top:7px;
}

/*zoom image*/
.modal .scroll {
    height: 100% !important;
    background-color: black !important;

    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;

    -webkit-box-direction: normal !important;
    -moz-box-direction: normal !important;
    -webkit-box-orient: horizontal !important;
    -moz-box-orient: horizontal !important;
    -webkit-flex-direction: row !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;


    -webkit-box-align: center !important;
    -moz-box-align: center !important;
    -webkit-align-items: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;

}

/*Middle of screen*/
.middle {
    position:fixed;
    top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    background-color: #f3f3f3;
}

/*Colord mdToast*/
.md-toast.error {
    background: red;
}
.md-toast.success {
    background-color: #043603;
}
.italic{
  font-style: italic
}
.btnlowercase {
    text-transform: lowercase;
}

.no-text-transform {
    text-transform: lowercase;
    text-align: left;
}
.color-button-sheet{
    color:#C62828;
}
.not-active {
    pointer-events: none;
    cursor: default;
}


/*Map article details*/
.map{
    height: 160px;
}
.mapContainer{
    background-color:orange;
    position: absolute;
    z-index: -1;
    padding:50px;
}
.mapHearder{
    opacity: 0.4;
}
.mapHearder p{
    color: #808080;
}
.angular-google-map-container { height: 800px; }
.round{
    border-radius: 5px;
}
.profil-centre{
  text-align: -webkit-center;
  padding-top: 13px;
}
.img-circle {
  border-radius: 50%;
  background-size:150px;
  width: 85px;
height: 80px;
  margin-left: 7%;
  margin-top: 3%;
}

/* allows the bar-footer to be elastic /*
/* optionally set a max-height */
/* maxlength on the textarea will prevent /*
/* it from getting too large also */
.bar-footer {
    overflow: visible !important;
}

.bar-footer textarea {
    resize: none;
    height: inherit;
}

/* fixes an ios bug bear */
button.ion-android-send {
    padding-top: 2px;
}

/* add this to keep your footer buttons down
at the bottom as the textarea resizes */
.footer-btn-wrap {
    position: relative;
    height: 100%;
    width: 50px;
    top: 7px;
}

.footer-btn {
    position: absolute !important;
    bottom: 0;
}

img.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
}

img.profile-pic.left {
    left: 10px;
}

img.profile-pic.right {
    right: 10px;
}

.ion-email {
    float: right;
    font-size: 32px;
    vertical-align: middle;
}

.message {
    font-size: 14px;
}

.message-detail {
    white-space: nowrap;
    font-size: 14px;
}

.bar.item-input-inset .item-input-wrapper input {
    width: 100% !important;
}

.message-wrapper {
    position: relative;
}

.message-wrapper:last-child {
    margin-bottom: 10px;
}

.chat-bubble {
    border-radius: 5px;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    margin: 10px;
    max-width: 80%;
}

.chat-bubble:before {
    content: "\00a0";
    display: block;
    height: 16px;
    width: 9px;
    position: absolute;
    bottom: -7.5px;
}

.chat-bubble.left {
    background-color: #e6e5eb;
    float: left;
    margin-left: 55px;
}

.chat-bubble.left:before {
    background-color: #e6e5eb;
    left: 10px;
    -webkit-transform: rotate(70deg) skew(5deg);
}

.chat-bubble.right {
    background-color: #C62828;
    color: #fff;
    float: right;
    margin-right: 55px;
}

.chat-bubble.right:before {
    background-color: #C62828;
    right: 10px;
    -webkit-transform: rotate(118deg) skew(-5deg);
}

.chat-bubble.right a.autolinker {
    color: #fff;
    font-weight: bold;
}

.user-messages-top-icon {
    font-size: 28px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -3px;
    right: 5px;
}

.msg-header-username {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -3px;
}

.textarea-chat, .item-input, .item-input-wrapper {
    background-color: #ffffff !important;
    width: 100%;
}

.bold {
    font-weight: bold;
}

.cf {
    clear: both !important;
}

a.autolinker {
    color: #3b88c3;
    text-decoration: none;
}
.error
{
  color:#890707;
}

.badge-number-photo
 {
   margin-right: 105px;
   margin-top: 30px;
 }
.badge-number-photo-profil
{
  margin-right: 90px;
  margin-top: 30px;
}

.centered {
  position:absolute;
  left: 0;
  right: 0;
  margin:0 auto;
  top:45%;
  transform:translateY(-50%);
}

.centered-text {
  position: fixed; /* or absolute */
  top: 45%;
}

.centered-button {
  position: fixed; /* or absolute */
  top: 65%;
  margin-left:30%;
  transform:translateY(-50%);
}

.card-margin{
  margin:5px 10px 15px 8px !important;
}

.item-art{
  margin-bottom: -1.5em;
  /*padding-left: 0em;
  padding-right: 0em;*/
}

.btn-ok{
  border-radius: 35px !important;
  border-color: red !important;
}
.social-login-text{
  font-size: 12px !important;
  margin-right: 4%;
  margin-top: 2%;
}

#login-tab-body{
  margin-left: 4%;
  margin-right: 4%;
}

.login-img{
  text-align: center;
  text-align: -webkit-center;
  margin-top: 1%;
}

.chip-facebook{
  background-color: #3A5795 !important;
  color: #FFFFFF !important;
  margin-right: 4px;
  border-radius: 35px !important;
  width: 80%;
  height: 30%;
}

.chip-google{
  background-color: #E05C51 !important;
  color: #FFFFFF !important;
  border-radius: 35px !important;
  width: 80%;
  height: 30%;
}

.input-filtre{
  margin-top:-1%
}

.toast-style-text
{
  font-family: 'Hoefler Text', 'Baskerville Old Face', Garamond, 'Times New Roman', serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}

.default-image-article
{
  background-image: url('img/no_image.png');
}

.resize{
  max-width:50%;
  max-height:50%;
}

.hide-button
{
  display: none;
}

.menu-size
{
  font-size: 110%
}

.filtre-radio
{
  padding-left: 4%;
  margin-top: 3%;
}
.first-item{
  margin-top: 26px !important;
}
.colorRed
{
  color:#B71C1C
}
.item-avatar{
  padding-left: 75px !important;
}

.list-article{
  border-bottom: solid 1px;
  border-width: 1px !important;
  border-style: solid !important;
  font-size: 16px;
  border-color: #ddd !important;
  padding-bottom: -1px;
  margin-bottom: -22px !important;
  margin-right: 1%;
  margin-left: 0%;

}

.badge{
  right: 3px !important;
}

.has-header{
  margin-top: 1px !important;
}
